body {
	background-color: #000000;
}
p h2{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-toggler{
	padding: 0%;
	height: 1.5em;
	width: 1.5em;
}
.navbar-toggler img{
	height: 100%;
	width: 100%;
}

.nav {
	position: sticky;
	background-color: #BC8CF2;
	margin-top: 0px;
	left: 5%;
	right: 5%;
	transition: all 0.3s ease-in-out;
	border-style: solid;
	border-color: #000000;
	box-shadow: 10px 5px 5px grey;
	border-radius: 10px;
}

.nav:hover {
	background-color: #AA14F0;
	box-shadow: 10px 5px 5px #AA14F0;
	border-radius: 15px;
}

.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	transition: all 0.3s ease-in-out;
}

.nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}
.nav li {
	margin-left: 10px;
	margin-right: 10px;
}

.nav a {
	font-family: 'Courier New', Courier, monospace;
	border-spacing: 10px;
	color: #000000;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.nav a:hover {
	letter-spacing: 1px;
	border-style: solid;
	border-top: #000000;
	border-left: #000000;
	border-right: #000000;
}
.nav:hover a {
	color: #ffffff;
}

/* Sectie--------------------------------------------------- */
.container {
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 5%;
	background-color: #000000;
	border-style: solid;
	border-color: #BC8CF2;
	color: #000000;
	transition: all 0.3s ease-in-out;
	box-shadow: 10px 5px 5px grey;
	border-radius: 10px;
}
.container label{
	color: #AA14F0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container h1 {
	color: #AA14F0;
}

.container:hover {
	box-shadow: 10px 5px 5px #BC8CF2;
}

.TextContainer {
	padding: 3%;
	background-color: #BC8CF2;
	margin: 2%;
	border-style: solid;
	border-color: #AA14F0;
	box-shadow: 10px 5px 5px #AA14F0;
}
.ImgContainer {
	padding: 0%;
	object-fit: cover;
	aspect-ratio: 4/2;
	border-style: solid;
	border-color: #AA14F0;
	box-shadow: 10px 5px 5px #AA14F0;
	height: max-content;
}

.TextContainer h1 h2{
	font-family: 'Courier New', Courier, monospace;
}

.button {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: #BC8CF2;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	box-shadow: 10px 5px 5px #AA14F0;
	transition: all 0.3s ease-in-out;
}

.button a {
	color: #000000;
}

.button:hover a {
	color: #fff;
}

.button:hover {
	letter-spacing: 2px;
	background-color: #AA14F0;
}

.TextContainer p {
	margin-bottom: 100px;
}
.Titel {
	text-align: center;
	font-family: fantasy;
	letter-spacing: 3px;
	font-weight: 100;
}
.fotos{
	display: flex;
	width: 100%;
	align-items: center;
}
/* Footer */
.footer-distributed {
	background-color: #AA14F0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	border-radius: 10px;
}

.footer-distributed .footer-left p {
	color: #000000;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
}

.footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #000000;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 10px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all .25s;
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}
/* ___________________________________ CV________________________________________*/

 .photo-container{
    margin-bottom: 2.2rem;
}
 .left-skill{
	color: #BC8CF2;
}
 .photo-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem solid #BC8CF2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.6rem;
    background-color: #AA14F0;
    color: #000000;
    text-align: center;
    margin: 1.4rem 0;
}
.contact-container{
    margin-bottom: 2.2rem;
}
.contact-container .contact-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: #444440;
    font-size: 1rem;
}
.education-container{
    margin-bottom: 2.2rem;
    font-family: 'Lato', sans-serif;
}
.education-container .course{
    margin-bottom: 1rem;
    color: #BC8CF2;
}
 
.education-container .education-title{
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: .3rem;
}
.education-container .college-name{
    margin-bottom: 0.3rem;
    font-weight: 600;
    
}
.education-container .education-date{
    font-size: 0.9rem;
}
.skills-container .skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
}
.skills-container .skill .right-skill .outer-layer{
    background-color: #BC8CF2;
    height:0.4rem;
    width: 5rem;
    border-radius: 0.4rem;
	border: 1,5px;
	border-style: solid;
	border-color: #fff;
}
.skills-container .skill .right-skill .inner-layer{
    background-color: #AA14F0;
    height: 100%;
    border-radius: inherit;
}

 .banner{
    font-family: 'Open Sans', sans-serif; 
    color: #BC8CF2;
    margin-bottom: 2.2rem;
	align-content: center;
}
 .banner .firstname{
	text-align: center;
    font-size: 4rem;
}
 .banner .lastname{
	text-align: center;

    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-top: -1rem;
}
 .banner .position{
	text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.work-container{
    margin-top: 0%;
    font-family: 'Lato', sans-serif;
}
.work-container .work:not(:last-child){
    margin-bottom: 1.8rem;
}
.work-container .work .job-date{
    display: flex;
    justify-content: space-between;
    color: #BC8CF2;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
}
.work-container .work .company-name{
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #BC8CF2;
}
.work-container .work .work-text{
    color: #BC8CF2;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1rem;
}

.references-container .references{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
    color: #BC8CF2;
}
.references-container .references .name{
    font-weight: 800;
    font-size: 1.1rem;
}
.references-container .references .company-name{
    margin: 0.5rem 0;
    font-size: 0.9rem;
}
.references-container .references .phone{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.7rem;
    color: #BC8CF2;
}
.references-container .references .phone p{
    margin: 0.4rem 0;
}
.references-container .references .phone .phone-text{
    font-weight: 600;
}
.text-left{
    text-align: left;
}